.checkboxContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ant-checkbox-wrapper{
    margin: 0 !important;
}

.appliedFilters{
    padding-bottom: 20px;
}

.ant-tag{
    margin-bottom: 5px;
}



