@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('antd/dist/antd.css');

.App {
  text-align: center;
  min-height: 100vh;
  width: 95%;
  margin: auto;
}

.logo{
  display: block;
  width: 10%;
  padding-top: 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
}

